# Dependencies
node_modules/
bower_components/
*.log

# Directories
build/
dist/

# Floobits
.floo
.floobit
.flooignore

# Other
.DS_Store

# AWS Credentials
./TreasureTrek/src/components/UserProfile/credentials.js
